@font-face {
    font-family: Telegram;
    src: url(src/fonts/PPTelegraf-Regular.otf);
}

@font-face {
    font-family: TelegramB;
    src: url(src/fonts/PPTelegraf-UltraBold.otf);
}

@font-face {
    font-family: TelegramL;
    src: url(src/fonts/PPTelegraf-UltraLight.otf);
}

@keyframes rotate {
    from {rotate: -360deg;}
    to {rotate: 0deg;}
}

html {
    scroll-behavior: smooth;
}

.kontener {
    font-family: Telegram;
    user-select: none;
    max-width: 100%;
    height: auto;
}

.page1 {
    background-image: url(src/img/bgpage1.jpg);
    background-size: 100%;
    width: 1920px;
    height: 1080px;
    position: relative;
    top: -20px;
}

.name {
    font-family: Telegram;
    color: aliceblue;
    font-size: 20px;
    position: relative;
    top: 124px;
    left: 137px;
    width: 250px;
}

.portfolio {
    font-family: TelegramB;
    color: aliceblue;
    font-size: 73px;
    position: relative;
    top: 93px;
    left: 137px;
    width: 950px;
}

.explore_button {
    position: relative;
    width: 321px;
    height: 78px;
    background: aliceblue;
    font-family: TelegramL;
    font-size: 42px;
    text-align: center;
    border-radius: 50px;
    top: 600px;
    left: 42%;
    scroll-behavior: smooth;
    animation-name: rotate;
    animation-duration: 500ms;
    animation-delay: 300ms;
    .exp_butt_text {
        position: relative;
        top: 10px;
        user-select: none;
        .explore_text {
            text-decoration: none;
            color: rgb(35, 35, 35);
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

.explore_button:hover {
    .explore_text {
        color: lightgrey;
        text-decoration: none;
    }
}

.page2 {
    background-color: aliceblue;
    width: 1920px;
    height: 1080px;
    position: relative;
    top: -20px;
}

.profildiv {
    position: relative;
    width: 540px;
    height: 800px;
    top: 105px;
    left: 1050px;
    transition: 400ms ease-in;
}

.profiltomek {
    position: relative;
    width: 540px;
    height: 800px;
    transition: 400ms ease-in-out;
}

.profildiv:active {
    .profiltomek {
        transform: translateX(200px);
    }
}

.hiddentext {
    position: absolute;
    width: 540px;
    height: 800px;
    top: 105px;
    left: 1050px;
}

.about_page2 {
    font-family: TelegramB;
    position: relative;
    color: rgb(35, 35, 35);
    top: -724px;
    left: 175px;
    font-size: 53px;
    width: 350px;
}

.opis {
    position: relative;
    width: 625px;
    height: 345px;
    font-size: 25px;
    font-family: TelegramL;
    top: -750px;
    left: 175px;
}

.page3 {
    background-color: rgb(35, 35, 35);
    width: 1920px;
    height: 1080px;
    position: relative;
    top: -60px;
}

.work_sign {
    font-family: TelegramB;
    font-size: 56px;
    color: aliceblue;
    position: relative;
    width: 200px;
    top: 75px;
    left: 90px;
}

.tram_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 90px;
    top: 75px;
}

.tram_head {
    font-family: TelegramB;
    font-size: 17px;
    width: 400px;
    color: aliceblue;
    position: relative;
    left: 90px;
    top: 100px;
    text-align: center;
}

.tram_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: 100px;
    left: 90px;
}

.salon {
    position: relative;
    left: -60px;
    height: 0;
}

.salon_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 580px;
    top: -611px;
}

.salon_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 400px;
    top: -585px;
    left: 580px;
    text-align: center;
}

.salon_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: -585px;
    left: 580px;
}

.plaza {
    position: relative;
    left: -120px;
    height: 0;
}

.plaza_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 1070px;
    top: -610px;
}

.plaza_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 400px;
    top: -585px;
    left: 1070px;
    text-align: center;
}

.plaza_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: -585px;
    left: 1100px;
}

.matport {
    position: relative;
    left: 310px;
    height: 0;
    width: 0;
}

.matport_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 1070px;
    top: -610px;
}

.matport_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 400px;
    top: -585px;
    left: 1070px;
    text-align: center;
}

.matport_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: -585px;
    left: 1100px;
}

.page4 {
    background-color: rgb(35, 35, 35);
    width: 1920px;
    height: 1080px;
    position: relative;
    top: -61px;
}

.mountain {
    position: relative;
    width: 380px;
    height: 700px;
    top: 75px;
    left: 110px;
}

.mountain_img {
    width: 380px;
    height: auto;
    position: relative;
}

.mountain_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.mountain_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.makeup {
    position: relative;
    width: 380px;
    height: 700px;
    top: -625px;
    left: 540px;
}

.makeup_img {
    width: 380px;
    height: auto;
    position: relative;
}

.makeup_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.makeup_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.newyorker {
    position: relative;
    width: 380px;
    height: 700px;
    top: -1325px;
    left: 970px;
}

.newyorker_img {
    width: 380px;
    height: auto;
    position: relative;
}

.newyorker_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.newyorker_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.oldlady {
    position: relative;
    width: 380px;
    height: 700px;
    top: -2025px;
    left: 1400px;
}

.oldlady_img {
    width: 380px;
    height: auto;
    position: relative;
}

.oldlady_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.oldlady_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.page5 {
    background-color: aliceblue;
    width: 1920px;
    height: 800px;
    position: relative;
    margin-bottom: 0px;
    margin-top: -61px;
}

.logo {
    position: relative;
    width: 360px;
    height: 360px;
    top: 200px;
    left: 100px;
}

.logo_img {
    width: 360px;
    height: auto;
    border-radius: 50px;
    position: relative;
}

.contact_sign {
    font-family: TelegramB;
    font-size: 56px;
    color: rgb(35, 35, 35);
    width: 380px;
    position: relative;
    left: 130px;
    top: -330px;
}

.social {
    width: 260px;
    height: auto;
    position: relative;
    left: 650px;
    top: -300px;
}

.iglink {
    font-family: TelegramL;
    font-size: 20px;
    color: rgb(35, 35, 35);
    transition: 300ms ease;
    line-height: 2.4;
    text-decoration: none;
}

.iglink:hover {
    font-family: TelegramL;
    font-size: 24px;
    color: gray;
    text-decoration: none;

}

.fblink {
    font-family: TelegramL;
    font-size: 20px;
    color: rgb(35, 35, 35);
    text-decoration: none;
    transition: 300ms ease;
}

.fblink:hover {
    font-family: TelegramL;
    font-size: 24px;
    color: gray;
    text-decoration: none;
}

.findme {
    font-family: TelegramL;
    font-size: 20px;
    color: rgb(35, 35, 35);
}

.mylocation {
    position: relative;
    left: 650px;
    top: -275px;
    width: 450px;
}

.myloc {
    font-family: TelegramL;
    font-size: 20px;
    color: rgb(35, 35, 35);
}

.locdata {
    font-family: TelegramL;
    font-size: 20px;
    color: rgb(35, 35, 35);
    line-height: 0.6;
}

.contact {
    position: relative;
    top: -215px;
    left: 650px;
    width: 450px;
}

.number {
    font-family: TelegramB;
    font-size: 32px;
    color: rgb(35, 35, 35);
}

.e-mail {
    font-family: TelegramB;
    font-size: 32px;
    color: rgb(35, 35, 35);
}