@font-face {
    font-family: Telegram;
    src: url(src/fonts/PPTelegraf-Regular.otf);
}

@font-face {
    font-family: TelegramB;
    src: url(src/fonts/PPTelegraf-UltraBold.otf);
}

@font-face {
    font-family: TelegramL;
    src: url(src/fonts/PPTelegraf-UltraLight.otf);
}

html {
    overflow-x: hidden;
}

.page3 {
    background-color: rgb(35, 35, 35);
    width: 1940px;
    height: 1080px;
    position: relative;
    top: -60px;
    left: -10px;

}

.work_sign {
    font-family: TelegramB;
    font-size: 56px;
    color: aliceblue;
    position: relative;
    width: 200px;
    top: 75px;
    left: 90px;
}

.tram_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 90px;
    top: 75px;
}

.tram_head {
    font-family: TelegramB;
    font-size: 17px;
    width: 400px;
    color: aliceblue;
    position: relative;
    left: 90px;
    top: 100px;
    text-align: center;
}

.tram_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: 100px;
    left: 90px;
}

.salon {
    position: relative;
    left: -60px;
    height: 0;
}

.salon_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 580px;
    top: -611px;
}

.salon_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 400px;
    top: -585px;
    left: 580px;
    text-align: center;
}

.salon_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: -585px;
    left: 580px;
}

.plaza {
    position: relative;
    left: -120px;
    height: 0;
}

.plaza_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 1070px;
    top: -610px;
}

.plaza_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 400px;
    top: -585px;
    left: 1070px;
    text-align: center;
}

.plaza_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: -585px;
    left: 1100px;
}

.matport {
    position: relative;
    left: 310px;
    height: 0;
    width: 0;
}

.matport_img {
    width: 380px;
    height: auto;
    position: relative;
    left: 1070px;
    top: -610px;
}

.matport_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 400px;
    top: -585px;
    left: 1070px;
    text-align: center;
}

.matport_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 400px;
    position: relative;
    top: -585px;
    left: 1100px;
}

.page4 {
    background-color: rgb(35, 35, 35);
    width: 1940px;
    height: 1080px;
    position: relative;
    top: -61px;
    left: -1%;
    bottom: 30px;
}

.mountain {
    position: relative;
    width: 380px;
    height: 700px;
    top: 75px;
    left: 110px;
}

.mountain_img {
    width: 380px;
    height: auto;
    position: relative;
}

.mountain_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.mountain_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.makeup {
    position: relative;
    width: 380px;
    height: 700px;
    top: -625px;
    left: 540px;
}

.makeup_img {
    width: 380px;
    height: auto;
    position: relative;
}

.makeup_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.makeup_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.newyorker {
    position: relative;
    width: 380px;
    height: 700px;
    top: -1325px;
    left: 970px;
}

.newyorker_img {
    width: 380px;
    height: auto;
    position: relative;
}

.newyorker_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.newyorker_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

.oldlady {
    position: relative;
    width: 380px;
    height: 700px;
    top: -2025px;
    left: 1400px;
}

.oldlady_img {
    width: 380px;
    height: auto;
    position: relative;
}

.oldlady_head {
    font-family: TelegramB;
    font-size: 17px;
    color: aliceblue;
    position: relative;
    width: 280px;
    text-align: center;
    left: 50px;
    top: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.oldlady_text {
    font-family: TelegramL;
    font-size: 20px;
    color: aliceblue;
    width: 380px;
    position: relative;
    margin-top: 25px;
}

body {
    height: 2100px;
    margin: 0px;
}